<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375709339609-qggnin02ihd2493a65bf29m4bfv9g9ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375709339609-qggnin02ihd2493a65bf29m4bfv9g9ip</string>
	<key>API_KEY</key>
	<string>AIzaSyDl3WLasrwFTtRXbW2KH1WEo_Vp7lSFsi0</string>
	<key>GCM_SENDER_ID</key>
	<string>375709339609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>d</string>
	<key>PROJECT_ID</key>
	<string>dding-dong</string>
	<key>STORAGE_BUCKET</key>
	<string>dding-dong.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375709339609:ios:6a4d42e4c46e522d0c13c8</string>
</dict>
</plist>